{% extends 'core/base.html' %}
{% load static %}
{% block content %}
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Cronologia</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Orden de Videojuegos Metal Gear Solid</h2>
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="text-center mb-5">
                                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Metal Gear Solid 3: Snake Eater</span></h1>
                                    </div>
                                    <div class="row align-items-center gx-5">
                                        
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <img src="{% static 'core/media/64_mgs3se_gamemain.jpg' %}" alt="..." />
                                            
                                        </div>
                                        

                                        <div class="col-lg-8"><div>Este videojuego esta ambientado en la epoca de la Guerra Fria entre Estados Unidos y Rusia. Ante el peligro de una bomba nuclear, Naked Snake (Big Boss) es enviado a tierras rusas para rescatar a un científico ruso. Este título sienta las bases de la saga.</div></div>
                                
                                </div>
                                
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="text-center mb-5">
                                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Metal Gear Solid: Peace Walker</span></h1>
                                    </div>
                                    <div class="row align-items-center gx-5">
                                        
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <img src="{% static 'core/media/image.jpeg' %}" alt="..." />
                                            
                                        </div>
                                        

                                        <div class="col-lg-8"><div>Sudamerica es un lugar muy influenciado por los soviéticos durante posteriores a la guerra fria, ademas de que tiene lugar la crisis de los misiles en Cuba. Para ello, Big Boss y su ejercito Militaires Sans Frontieres llegan a defender las zonas sin ejercitos..</div></div>
                                
                                </div>
                                
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="text-center mb-5">
                                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Metal Gear Solid: Ground Zeroes</span></h1>
                                    </div>
                                    <div class="row align-items-center gx-5">
                                        
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <img src="{% static 'core/media/groundzeroes.jpeg' %}" alt="..." />
                                            
                                        </div>
                                        

                                        <div class="col-lg-8"><div>Metal Gear Solid V salió en dos volumenes y este es el primero. Ground Zeroes es la continuación de Peace Walker y es una entrega centrada en una misión en la que podemos ver a Big Boss haciendo un rescate en la carcel de Guantanamo en Cuba.</div></div>
                                
                                </div>
                                
                            </div>

                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="text-center mb-5">
                                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Metal Gear Solid V: The Phantom Pain</span></h1>
                                    </div>
                                    <div class="row align-items-center gx-5">
                                        
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <img src="{% static 'core/media/Metal_Gear_Solid_V_The_Phantom_Pain_cover.png' %}" alt="..." />
                                            
                                        </div>
                                        

                                        <div class="col-lg-8"><div>La segunda parte del Metal Gear Solid V hace un cambio importante en la historia de la saga. La historia se centra en el viaje de Snake a Afganistán y al cambio de este personaje ya que Big Boss comienza su transformacion en villano, en Venom Snake.</div></div>
                                
                                </div>
                                
                            </div>

                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="text-center mb-5">
                                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Metal Gear</span></h1>
                                    </div>
                                    <div class="row align-items-center gx-5">
                                        
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <img src="{% static 'core/media/Metal_Gear_cover.jpg' %}" alt="..." />
                                            
                                        </div>
                                        

                                        <div class="col-lg-8"><div>Este es el juego original que comenzo con toda la saga. Se nos presenta el proyecto que se desarrolla debajo de la ciudad Outer Heaven, un arma nuclear que involucrara a los personajes de Fox, Big Boss y a Solid Snake.</div></div>
                                
                                </div>
                                
                            </div>


                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="text-center mb-5">
                                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Metal Gear 2: Solid Snake</span></h1>
                                    </div>
                                    <div class="row align-items-center gx-5">
                                        
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <img src="{% static 'core/media/Metal_Gear_2_Boxart.jpeg' %}" alt="..." style="height: 215px;"/>
                                            
                                        </div>
                                        

                                        <div class="col-lg-8"><div>Este segundo juego es una continuacion inmediata del primero el Metal Gear debido al exito de este. La historia comienza justo donde acaba la anterior, cuando el soldado Solid Snake se tiene que infiltrar en un territorio que defienden los rusos, Zanzibar Land.</div></div>
                                
                                </div>
                                
                            </div>


                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="text-center mb-5">
                                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Metal Gear Solid</span></h1>
                                    </div>
                                    <div class="row align-items-center gx-5">
                                        
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <img src="https://m.media-amazon.com/images/M/MV5BYjU5NWRmYmMtN2U0MS00NjE4LWIzOGUtMGQwZjc3ZTZhNjk2XkEyXkFqcGc@._V1_.jpg" alt="..." style="height: 300px;"/>
                                            
                                        </div>
                                        

                                        <div class="col-lg-8"><div>Este es sin duda el juego que lo cambio todo. Si el Metal Gear ya era conocido, este Metal Gear Solid revoluciono la forma en la que se contaban las historias. Ademas de la forma, la historia es muy iconica ya que enfrenta a Solid Snake y a Liquid Snake.                                        </div></div>
                                
                                </div>
                                
                            </div>


                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="text-center mb-5">
                                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Metal Gear Solid 2: Sons of Liberty</span></h1>
                                    </div>
                                    <div class="row align-items-center gx-5">
                                        
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <img src="https://steamuserimages-a.akamaihd.net/ugc/2200631506743801164/292F4EDDC1924D493C83759ABC5EFBFB6C8150CB/?imw=512&imh=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="..." style="height: 200px;"/>
                                            
                                        </div>
                                        

                                        <div class="col-lg-8"><div>Solid Snake y Otacon forman Philanthropy para luchar contra Metal Gears. Mientras están en una mision, el buque en el que se encontraban vuela por los aires gracias a Revolver Ocelot, que se lleva a Snake con el. Esto ademas nos presenta a Raiden como protagonista.                                       </div></div>                                
                                </div>
                                
                            </div>

                            


                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                
                                <div class="card-body p-5">
                                    <div class="text-center mb-5">
                                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Metal Gear Solid 4: Guns of the Patriots</span></h1>
                                    </div>
                                    <div class="row align-items-center gx-5">
                                        
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <img src="https://m.media-amazon.com/images/M/MV5BMDViYjJhNDQtYmY3NC00MDMyLThkYmYtODU3MDVlZWZiZWQ1XkEyXkFqcGc@._V1_.jpg" alt="..." style="height: 300px; margin-bottom: 50%;"/>
                                            
                                        </div>
                                        

                                        <div class="col-lg-8"><div>Esta es la entrega en la que vemos a un Solid Snake muy mayor, lo que supone que se cierre su historia. La amenaza de esta entrega es la creacion de unas pequeñas máquinas que acaban con los enemigos de forma muy eficaz.
                                </div>
                                
                            </div>
                            </div>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">spin-offs</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="card-body p-5">
                                        <div class="text-center mb-5">
                                            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">metal gear rising:revengeance</span></h1>
                                        </div>
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div>
                                                <img src="{% static 'core/media/metal-gear-rising-revengeance.jpg' %}" alt="..." />
                                                <div class=""><div>Raiden ya como protagonista es mandado a africa para defender al Primer Ministro N'mani. Finalmente este es asesinado y Raiden gravemente herido, pero unos días después, Raiden consigue un cuerpo de cyborg con el que volvería a África.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
 {% endblock %}